<section class="section-advisements" id="advisements">
    <div class="container">
       

        <h2>Mis consultas</h2>

        <div class="table-responsive-general">
            <table class="w3-table-all-general">
                <thead>
                    <tr>
                        <th>Curso</th>
                        <th>Estudiante</th>
                        <th>Fecha</th>
                        <th>Detalle</th>
                    </tr>
                </thead>
                <tbody id="user-advisements">
                    <!-- Datos dinámicos de consultas de usuarios -->
                </tbody>
            </table>
        </div>

        <br />
        <br />
        <br />
        <h2>Todas las consultas</h2>
        <div class="table-responsive-general">

            <table class="w3-table-all-general">
                <thead>
                    <tr>
                        <th>Curso</th>
                        <th>Estudiante</th>
                        <th>Fecha</th>
                        <th>Detalle</th>
                    </tr>
                </thead>
                <tbody id="public-advisements">
                    <!-- Datos dinámicos de consultas públicas -->
                </tbody>
            </table>
        </div>


    </div>
</section>


<!--Falta seccion de ver detalles donde iria la accion responder  -->
