<section class="section-advisements" id="advisements">
    <div class="container">
       

        <h3>Mis consultas</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Curso</th>
                    <th>Estudiante</th>
                    <th>Fecha</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody id="user-advisements">
                <!-- Datos dinámicos de consultas de usuarios -->
            </tbody>
        </table>
        <br />
        <br />
        <br />
        <h3>Todas las consultas</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Curso</th>
                    <th>Estudiante</th>
                    <th>Fecha</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody id="public-advisements">
                <!-- Datos dinámicos de consultas públicas -->
            </tbody>
        </table>
    </div>
</section>


<!--Falta seccion de ver detalles donde iria la accion responder  -->
