@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="~/css/templatemo-scholar.css">




<section id="myAppointments-daily" style="margin: 80px">

    <div class="w3-container-appointment">
        <div class="row">
            <div class="section-title-appointment">
                <h2>Mis citas</h2>
                <div>
                    <label class="label-appointment" ">Fecha:</label>
                    <input type="date" id="datetime" class="input-appointment" style="width:auto" />
                    <button type="button" class="filter-button" onclick="GetAppointmentsByDate()" style="background-color: #66c5e3 !important">Filtrar</button>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">

                <div class="table-responsive-appointment">

                    <table class="w3-table-all-appointment" id="dailyappointments-table">

                        <thead>

                            <tr class="w3-black">

                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Hora
                                </th>
                                <th>
                                    Modo
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Estudiante
                                </th>
                                <th>
                                    Correo
                                </th>
                                <th>
                                    Curso
                                </th>
                                <th>
                                    Comentario del profesor
                                </th>
                                
                            </tr>

                        </thead>

                        <tbody id="dailyappointments-tbody">
                        </tbody>

                    </table>
                    <p id="noDailyAppointmentsMessage1" style="display: none;">No se encontraron citas registradas para ese día</p>
                </div>
            </div>

        </div>
    </div>
</section>




<section id="myAppointments-request" style="margin: 80px">
    <div class="w3-container-appointment">
        <div class="row">
            <div class="section-title-appointment">
                <h2>Solicitudes pendientes</h2>
            </div>

            <div class="col-md-12 col-sm-12">

                <div class="table-responsive-appointment">

                    <table class="w3-table-all-appointment" id="requestappointments-table">

                        <thead>

                            <tr class="w3-black">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Hora
                                </th>
                                <th>
                                    Modo
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Estudiante
                                </th>
                                <th>
                                    Correo
                                <th>
                                    Curso
                                </th>
                                <th>
                                    Comentario del profesor
                                </th>
                                <th>
                                    Revisión
                                </th>
                            </tr>

                        </thead>

                        <tbody id="myrequest-tbody">
                        </tbody>

                    </table>
                    <p id="noRequestAppointmentsMessage" style="display: none;">No se encontraron citas registradas</p>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="myAppointments-appointment" style="margin: 80px">
    <div class="w3-container-appointment">
        <div class="row">
            <div class="section-title-appointment">
                <h2>Revisadas</h2>
            </div>

            <div class="col-md-12 col-sm-12">

                <div class="table-responsive-appointment">

                    <table class="w3-table-all-appointment" id="myappointments-table">

                        <thead>

                            <tr class="w3-black">

                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Hora
                                </th>
                                <th>
                                    Modo
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Estudiante
                                </th>
                                <th>
                                    Correo
                                <th>
                                    Curso
                                </th>
                                <th>
                                    Comentario del profesor
                                </th>

                                </th>
                            </tr>

                        </thead>

                        <tbody id="myappointments-tbody">
                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>
</section>
