@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<section style="margin-top:50px">

    <div class="w3-container">
        <div class="row">
                <h2 style="margin-bottom:20px">Mis Citas</h2>
                <div>
                    <label>Fecha:</label>
                    <input type="date" id="datetime" class="input-appointment" style="width:auto" />
                <button type="button" class="general-button" onclick="GetAppointmentsByDate()" style="background-color: #66c5e3 !important">Filtrar</button>
                </div>

            <div class="col-md-12 col-sm-12">

                <div class="table-responsive-general">

                    <table class="w3-table-all-general" id="dailyappointments-table">

                        <thead>

                            <tr class="w3-black">

                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Hora
                                </th>
                                <th>
                                    Modo
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Estudiante
                                </th>
                                <th>
                                    Correo
                                </th>
                                <th>
                                    Curso
                                </th>
                                <th>
                                    Comentario del profesor
                                </th>
                                
                            </tr>

                        </thead>

                        <tbody id="dailyappointments-tbody">
                        </tbody>

                    </table>

                    <p id="noDailyAppointmentsMessage1" style="display: none;">No se encontraron citas registradas para ese día</p>

                </div>
            </div>

        </div>
    </div>
</section>




<section>
    <div class="w3-container">
        <div class="row">
            <h2 style="margin-bottom:20px">Solicitudes pendientes</h2>

            <div class="col-md-12 col-sm-12">

                <div class="table-responsive-general">

                    <table class="w3-table-all-general" id="requestappointments-table">

                        <thead>

                            <tr class="w3-black">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Hora
                                </th>
                                <th>
                                    Modo
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Estudiante
                                </th>
                                <th>
                                    Correo
                                <th>
                                    Curso
                                </th>
                                <th>
                                    Comentario del profesor
                                </th>
                                <th>
                                    Revisión
                                </th>
                            </tr>

                        </thead>

                        <tbody id="myrequest-tbody">
                        </tbody>

                    </table>
                    <p id="noRequestAppointmentsMessage" style="display: none;">No se encontraron citas registradas</p>
                </div>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="w3-container">
        <div class="row">
            <h2 style="margin-bottom:20px">Revisadas</h2>

            <div class="col-md-12 col-sm-12">

                <div class="table-responsive-general">

                    <table class="w3-table-all-general" id="myappointments-table">

                        <thead>

                            <tr class="w3-black">

                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Hora
                                </th>
                                <th>
                                    Modo
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Estudiante
                                </th>
                                <th>
                                    Correo
                                <th>
                                    Curso
                                </th>
                                <th>
                                    Comentario del profesor
                                </th>

                                </th>
                            </tr>

                        </thead>

                        <tbody id="myappointments-tbody">
                        </tbody>

                    </table>

                </div>
            </div>

        </div>
    </div>
</section>
